In [1]:
import re 
import pandas as pd

In [2]:
f = open("WhatsApp Chat with SOUVIK.txt","r",encoding='utf-8')

In [3]:
data = f.read()

In [4]:
print(data)

7/2/25, 11:50 AM - Messages and calls are end-to-end encrypted. Only people in this chat can read, listen to, or share them. Learn more.
7/2/25, 11:50 AM - SOUVIK is a contact
7/2/25, 11:45 AM - SOUVIK: Tor room er pic de nh thakle , debanganshu number dilo
7/2/25, 11:51 AM - ♾️: Oo acha
7/2/25, 11:52 AM - ♾️: <Media omitted>
7/2/25, 11:52 AM - ♾️: Aitai ase
7/2/25, 11:52 AM - SOUVIK: Kitchen
7/2/25, 11:52 AM - ♾️: Oi pase
7/2/25, 11:53 AM - ♾️: Oitar pic nai
7/2/25, 11:53 AM - SOUVIK: De dekhi
7/2/25, 11:53 AM - ♾️: Kitchen a basin nai call ase gamla bosay nite lage
7/2/25, 11:53 AM - SOUVIK: Dekha dekhi
7/2/25, 11:53 AM - ♾️: Nai pic
7/2/25, 11:54 AM - SOUVIK: Tui koi ?
7/2/25, 11:54 AM - ♾️: Ami bari
7/2/25, 11:54 AM - SOUVIK: Ok ok
7/2/25, 11:54 AM - ♾️: Hmm
7/2/25, 11:54 AM - SOUVIK: Tui number ta de nh
7/2/25, 11:54 AM - ♾️: Tumi job koro ?
7/2/25, 11:54 AM - SOUVIK: Malik er
7/2/25, 11:54 AM - ♾️: Acha
7/2/25, 11:55 AM - SOUVIK: Ha
7/2/25, 11:55 AM - ♾️: Bipin Das (Home Owner).vcf (file attached)
7/2/25, 11:55 AM - ♾️: Kiser
7/2/25, 11:55 AM - ♾️: ?
7/2/25, 11:55 AM - SOUVIK: Shopper stop e
7/2/25, 11:55 AM - SOUVIK: Hr
7/2/25, 11:55 AM - ♾️: Oooo
7/2/25, 11:55 AM - ♾️: Acha
7/2/25, 11:55 AM - SOUVIK: Hm
7/2/25, 11:55 AM - ♾️: Wifi lagle wifi o ase
7/2/25, 11:56 AM - SOUVIK: Acha
7/2/25, 11:56 AM - ♾️: 150 takay 30 mbps unlimited
7/2/25, 11:56 AM - SOUVIK: Ha lagbe asha kori
7/2/25, 11:56 AM - SOUVIK: Ok ok
7/2/25, 11:56 AM - ♾️: Hmm

In [5]:
pattern = r'\d{1,2}/\d{1,2}/\d{2,3},\s\d{1,2}:\d{2}\s?[AP]M\s-\s'

In [6]:
msg = re.split(pattern,data)[1:]

In [7]:
import unicodedata

clean = [
    unicodedata.normalize("NFKC", m)
    for m in re.findall(pattern, data)
]

In [8]:
df = pd.DataFrame({"user messages" : msg , "date" : clean})
df['date'] = pd.to_datetime(df['date'],format = "%d/%m/%y, %I:%M %p - ")

In [9]:
df

                                        user messages                date
0   Messages and calls are end-to-end encrypted. O... 2025-02-07 11:50:00
1                               SOUVIK is a contact\n 2025-02-07 11:50:00
2   SOUVIK: Tor room er pic de nh thakle , debanga... 2025-02-07 11:45:00
3                                       ♾️: Oo acha\n 2025-02-07 11:51:00
4                               ♾️: <Media omitted>\n 2025-02-07 11:52:00
5                                     ♾️: Aitai ase\n 2025-02-07 11:52:00
6                                   SOUVIK: Kitchen\n 2025-02-07 11:52:00
7                                       ♾️: Oi pase\n 2025-02-07 11:52:00
8                                 ♾️: Oitar pic nai\n 2025-02-07 11:53:00
9                                  SOUVIK: De dekhi\n 2025-02-07 11:53:00
10  ♾️: Kitchen a basin nai call ase gamla bosay n... 2025-02-07 11:53:00
11                              SOUVIK: Dekha dekhi\n 2025-02-07 11:53:00
12                                      ♾️: Nai pic\n 2025-02-07 11:53:00
13                                SOUVIK: Tui koi ?\n 2025-02-07 11:54:00
14                                     ♾️: Ami bari\n 2025-02-07 11:54:00
15                                    SOUVIK: Ok ok\n 2025-02-07 11:54:00
16                                          ♾️: Hmm\n 2025-02-07 11:54:00
17                      SOUVIK: Tui number ta de nh\n 2025-02-07 11:54:00
18                              ♾️: Tumi job koro ?\n 2025-02-07 11:54:00
19                                 SOUVIK: Malik er\n 2025-02-07 11:54:00
20                                         ♾️: Acha\n 2025-02-07 11:54:00
21                                       SOUVIK: Ha\n 2025-02-07 11:55:00
22   ♾️: Bipin Das (Home Owner).vcf (file attached)\n 2025-02-07 11:55:00
23                                        ♾️: Kiser\n 2025-02-07 11:55:00
24                                            ♾️: ?\n 2025-02-07 11:55:00
25                           SOUVIK: Shopper stop e\n 2025-02-07 11:55:00
26                                       SOUVIK: Hr\n 2025-02-07 11:55:00
27                                         ♾️: Oooo\n 2025-02-07 11:55:00
28                                         ♾️: Acha\n 2025-02-07 11:55:00
29                                       SOUVIK: Hm\n 2025-02-07 11:55:00
30                        ♾️: Wifi lagle wifi o ase\n 2025-02-07 11:55:00
31                                     SOUVIK: Acha\n 2025-02-07 11:56:00
32                  ♾️: 150 takay 30 mbps unlimited\n 2025-02-07 11:56:00
33                       SOUVIK: Ha lagbe asha kori\n 2025-02-07 11:56:00
34                                    SOUVIK: Ok ok\n 2025-02-07 11:56:00
35                                          ♾️: Hmm\n 2025-02-07 11:56:00

In [10]:
 users = []
messages = []

for msg in df['user messages']:
    entry = re.split('([\w\W]+?):\s', msg)
    if entry[1:]:
        users.append(entry[1])
        messages.append(entry[2])

In [11]:
df = df.iloc[2:].reset_index(drop=True)

In [12]:
df['users']= users

In [13]:
df['messages'] = messages

In [14]:
df.head()

,user messages,date,users,messages
0,"SOUVIK: Tor room er pic de nh thakle , debanga...",2025-02-07 11:45:00,SOUVIK,"Tor room er pic de nh thakle , debanganshu num..."
1,♾️: Oo acha\n,2025-02-07 11:51:00,♾️,Oo acha\n
2,♾️: <Media omitted>\n,2025-02-07 11:52:00,♾️,<Media omitted>\n
3,♾️: Aitai ase\n,2025-02-07 11:52:00,♾️,Aitai ase\n
4,SOUVIK: Kitchen\n,2025-02-07 11:52:00,SOUVIK,Kitchen\n

In [15]:
df.drop(columns = ['user messages'],inplace=True)

In [16]:
df.head()

,date,users,messages
0,2025-02-07 11:45:00,SOUVIK,"Tor room er pic de nh thakle , debanganshu num..."
1,2025-02-07 11:51:00,♾️,Oo acha\n
2,2025-02-07 11:52:00,♾️,<Media omitted>\n
3,2025-02-07 11:52:00,♾️,Aitai ase\n
4,2025-02-07 11:52:00,SOUVIK,Kitchen\n

In [17]:
df['year'] = df['date'].dt.year

In [18]:
df['month'] = df['date'].dt.month_name()

In [19]:
df.head()

,date,users,messages,year,month
0,2025-02-07 11:45:00,SOUVIK,"Tor room er pic de nh thakle , debanganshu num...",2025,February
1,2025-02-07 11:51:00,♾️,Oo acha\n,2025,February
2,2025-02-07 11:52:00,♾️,<Media omitted>\n,2025,February
3,2025-02-07 11:52:00,♾️,Aitai ase\n,2025,February
4,2025-02-07 11:52:00,SOUVIK,Kitchen\n,2025,February

In [20]:
df['day'] = df['date'].dt.day

In [21]:
df['hours'] = df['date'].dt.hour

In [22]:
df['minutes'] = df['date'].dt.minute

In [23]:
df.head()

,date,users,messages,year,month,day,hours,minutes
0,2025-02-07 11:45:00,SOUVIK,"Tor room er pic de nh thakle , debanganshu num...",2025,February,7,11,45
1,2025-02-07 11:51:00,♾️,Oo acha\n,2025,February,7,11,51
2,2025-02-07 11:52:00,♾️,<Media omitted>\n,2025,February,7,11,52
3,2025-02-07 11:52:00,♾️,Aitai ase\n,2025,February,7,11,52
4,2025-02-07 11:52:00,SOUVIK,Kitchen\n,2025,February,7,11,52

In [24]:
word  = []
for msg in df['messages']:
    word.extend(msg.split())

In [25]:
len(word)

93

In [32]:
temp = df[df['users'] != "group notification"]
temp = temp[temp['messages'] != '<Media omitted>\n']

In [45]:
temp

,date,users,messages,year,month,day,hours,minutes
0,2025-02-07 11:45:00,SOUVIK,"Tor room er pic de nh thakle , debanganshu num...",2025,February,7,11,45
1,2025-02-07 11:51:00,♾️,Oo acha\n,2025,February,7,11,51
3,2025-02-07 11:52:00,♾️,Aitai ase\n,2025,February,7,11,52
4,2025-02-07 11:52:00,SOUVIK,Kitchen\n,2025,February,7,11,52
5,2025-02-07 11:52:00,♾️,Oi pase\n,2025,February,7,11,52
6,2025-02-07 11:53:00,♾️,Oitar pic nai\n,2025,February,7,11,53
7,2025-02-07 11:53:00,SOUVIK,De dekhi\n,2025,February,7,11,53
8,2025-02-07 11:53:00,♾️,Kitchen a basin nai call ase gamla bosay nite ...,2025,February,7,11,53
9,2025-02-07 11:53:00,SOUVIK,Dekha dekhi\n,2025,February,7,11,53
10,2025-02-07 11:53:00,♾️,Nai pic\n,2025,February,7,11,53
11,2025-02-07 11:54:00,SOUVIK,Tui koi ?\n,2025,February,7,11,54
12,2025-02-07 11:54:00,♾️,Ami bari\n,2025,February,7,11,54
13,2025-02-07 11:54:00,SOUVIK,Ok ok\n,2025,February,7,11,54
14,2025-02-07 11:54:00,♾️,Hmm\n,2025,February,7,11,54
15,2025-02-07 11:54:00,SOUVIK,Tui number ta de nh\n,2025,February,7,11,54
16,2025-02-07 11:54:00,♾️,Tumi job koro ?\n,2025,February,7,11,54
17,2025-02-07 11:54:00,SOUVIK,Malik er\n,2025,February,7,11,54
18,2025-02-07 11:54:00,♾️,Acha\n,2025,February,7,11,54
19,2025-02-07 11:55:00,SOUVIK,Ha\n,2025,February,7,11,55
20,2025-02-07 11:55:00,♾️,Bipin Das (Home Owner).vcf (file attached)\n,2025,February,7,11,55
21,2025-02-07 11:55:00,♾️,Kiser\n,2025,February,7,11,55
22,2025-02-07 11:55:00,♾️,?\n,2025,February,7,11,55
23,2025-02-07 11:55:00,SOUVIK,Shopper stop e\n,2025,February,7,11,55
24,2025-02-07 11:55:00,SOUVIK,Hr\n,2025,February,7,11,55
25,2025-02-07 11:55:00,♾️,Oooo\n,2025,February,7,11,55
26,2025-02-07 11:55:00,♾️,Acha\n,2025,February,7,11,55
27,2025-02-07 11:55:00,SOUVIK,Hm\n,2025,February,7,11,55
28,2025-02-07 11:55:00,♾️,Wifi lagle wifi o ase\n,2025,February,7,11,55
29,2025-02-07 11:56:00,SOUVIK,Acha\n,2025,February,7,11,56
30,2025-02-07 11:56:00,♾️,150 takay 30 mbps unlimited\n,2025,February,7,11,56
31,2025-02-07 11:56:00,SOUVIK,Ha lagbe asha kori\n,2025,February,7,11,56
32,2025-02-07 11:56:00,SOUVIK,Ok ok\n,2025,February,7,11,56
33,2025-02-07 11:56:00,♾️,Hmm\n,2025,February,7,11,56

In [29]:
f = open("stop_word_for_wp.txt","r",encoding = "utf-8")
stop_words = f.read()
print(stop_words)

a, an, the, is, am, are, was, were, be, been, being,
have, has, had, do, does, did, will, would, shall, should,
may, might, must, can, could,
i, me, my, mine, we, our, ours, you, your, yours, he, him, his, she, her, hers,
it, its, they, them, their, theirs,
this, that, these, those,
and, or, but, if, because, as, until, while,
of, at, by, for, with, about, against, between, into, through, during, before, after,
to, from, up, down, in, out, on, off, over, under,
again, further, then, once,
here, there, when, where, why, how,
all, any, both, each, few, more, most, other, some, such,
no, nor, not, only, own, same, so, than, too, very,
just, now, also, ok, okay, yes, yeah, hmm, oh,

akta, ekta, ek, dui, tin,
ami, amr, amar, amake,
tumi, tmr, tomar, tomake,
she, se, tar, take,
amra, amader,
tomra, tomader,
ora, oder, tader,

eta, ota, seta, eita, oita,
ekhane, okhane, sekhane, kothay,
kano, keno, kivabe, kemne,

ki, kisu, kichu, kichui,
sob, shob, shobai,

ar, abar, tai, to, tao,
jodi, jodi na, nahole,
kintu, tobe, abar,

na, nai, nei, noy,
hobe, holo, hocche, hoise, hoilo,
ase, asi, ashe, asilo,
chilo, chilo na,

korbo, korchi, korlam, kore, koro,
jabo, jachi, gelam, gechi,
khabo, khacchi, kheyechi,
dekho, dekhi, dekhlam,

valo, bhalo, kharap, beshi, kom,
onek, onekta, ektu, ekto,

age, pore, ekhon, tokhon, sobsomoy,
aj, kal, porshu,

bhai, bro, dada, vaiya,
pls, plz, please,
thik ase, thik ache, thik ase na,
hmm, umm, acha, accha, achha,

lol, lmao, haha, hehe, hihi,
uff, oof, arey, are, re,
hmm, um, umm,
ok, okay, kk,
huh, eh,
❤️, 👍, 😂, 😅

In [39]:
words = []
for message in temp["messages"]:
    for word in message.lower().split():
        if word not in stop_words:
            words.append(word)

In [44]:
from collections import Counter
pd.DataFrame(Counter(words).most_common(10))

         0  1
0      pic  3
1        ?  3
2       nh  2
3   number  2
4  kitchen  2
5      tui  2
6     wifi  2
7      tor  1
8     room  1
9   thakle  1