In [102]:
import re 
import pandas as pd

In [103]:
f = open("WhatsApp Chat with susmitadhar480.txt","r",encoding='utf-8')

In [104]:
data = f.read()

In [105]:
pattern = r'\d{1,2}/\d{1,2}/\d{2,3},\s\d{1,2}:\d{2}\s?[AP]M\s-\s'

In [106]:
msg = re.split(pattern,data)[1:]

In [107]:
import unicodedata

clean = [
    unicodedata.normalize("NFKC", m)
    for m in re.findall(pattern, data)
]

In [108]:
df = pd.DataFrame({"user messages" : msg , "date" : clean})
df['date'] = df['date'].str.replace(" - ", "", regex=False)
df['date'] = pd.to_datetime(
    df['date'],
    format='mixed',      # allows multiple formats
    dayfirst=True,       # helps for DD/MM/YY cases
    errors='coerce'      # prevents crash
)


# df['date'] = pd.to_datetime(df['date'],format = "%d/%m/%y, %I:%M %p - ")

In [109]:
df

                                         user messages                date
0    Messages and calls are end-to-end encrypted. O... 2025-12-30 14:46:00
1                        susmitadhar480 is a contact\n 2025-12-30 14:46:00
2                                 susmitadhar480: Hi\n 2025-12-30 14:46:00
3                              susmitadhar480: Hello\n 2025-12-30 14:46:00
4                                  susmitadhar480: ğŸ‘‹\n 2025-12-30 14:46:00
..                                                 ...                 ...
294                          â™¾ï¸: Good morning bon ğŸŒğŸŒ»\n 2026-11-01 09:54:00
295                        susmitadhar480: Gn dada ğŸŒƒ\n 2026-11-01 23:41:00
296                  susmitadhar480: <Media omitted>\n 2026-11-01 23:41:00
297                         â™¾ï¸: Ha bon good night ğŸ’¤ğŸŒ‰\n 2026-12-01 00:01:00
298                                       â™¾ï¸: Ghumau\n 2026-12-01 00:01:00

[299 rows x 2 columns]

In [110]:
 users = []
messages = []

for msg in df['user messages']:
    entry = re.split('([\w\W]+?):\s', msg)
    if entry[1:]:
        users.append(entry[1])
        messages.append(entry[2])
    else:
            users.append("group notification")
            messages.append(entry[0])

In [111]:
# df = df.iloc[2:].reset_index(drop=True)

In [112]:
df['users']= users

In [113]:
df['messages'] = messages

In [114]:
df.head()

,user messages,date,users,messages
0,Messages and calls are end-to-end encrypted. O...,2025-12-30 14:46:00,group notification,Messages and calls are end-to-end encrypted. O...
1,susmitadhar480 is a contact\n,2025-12-30 14:46:00,group notification,susmitadhar480 is a contact\n
2,susmitadhar480: Hi\n,2025-12-30 14:46:00,susmitadhar480,Hi\n
3,susmitadhar480: Hello\n,2025-12-30 14:46:00,susmitadhar480,Hello\n
4,susmitadhar480: ğŸ‘‹\n,2025-12-30 14:46:00,susmitadhar480,ğŸ‘‹\n

In [115]:
df.drop(columns = ['user messages'],inplace=True)

In [116]:
df.head()

,date,users,messages
0,2025-12-30 14:46:00,group notification,Messages and calls are end-to-end encrypted. O...
1,2025-12-30 14:46:00,group notification,susmitadhar480 is a contact\n
2,2025-12-30 14:46:00,susmitadhar480,Hi\n
3,2025-12-30 14:46:00,susmitadhar480,Hello\n
4,2025-12-30 14:46:00,susmitadhar480,ğŸ‘‹\n

In [117]:
df['year'] = df['date'].dt.year

In [118]:
df['month'] = df['date'].dt.month_name()

In [119]:
df.head()

,date,users,messages,year,month
0,2025-12-30 14:46:00,group notification,Messages and calls are end-to-end encrypted. O...,2025,December
1,2025-12-30 14:46:00,group notification,susmitadhar480 is a contact\n,2025,December
2,2025-12-30 14:46:00,susmitadhar480,Hi\n,2025,December
3,2025-12-30 14:46:00,susmitadhar480,Hello\n,2025,December
4,2025-12-30 14:46:00,susmitadhar480,ğŸ‘‹\n,2025,December

In [120]:
df['day'] = df['date'].dt.day

In [121]:
df['hours'] = df['date'].dt.hour

In [122]:
df['minutes'] = df['date'].dt.minute

In [123]:
df.head()

,date,users,messages,year,month,day,hours,minutes
0,2025-12-30 14:46:00,group notification,Messages and calls are end-to-end encrypted. O...,2025,December,30,14,46
1,2025-12-30 14:46:00,group notification,susmitadhar480 is a contact\n,2025,December,30,14,46
2,2025-12-30 14:46:00,susmitadhar480,Hi\n,2025,December,30,14,46
3,2025-12-30 14:46:00,susmitadhar480,Hello\n,2025,December,30,14,46
4,2025-12-30 14:46:00,susmitadhar480,ğŸ‘‹\n,2025,December,30,14,46

In [124]:
word  = []
for msg in df['messages']:
    word.extend(msg.split())

In [125]:
len(word)

1111

In [126]:
temp = df[df['users'] != "group notification"]
temp = temp[temp['messages'] != '<Media omitted>\n']

In [127]:
temp

,date,users,messages,year,month,day,hours,minutes
2,2025-12-30 14:46:00,susmitadhar480,Hi\n,2025,December,30,14,46
3,2025-12-30 14:46:00,susmitadhar480,Hello\n,2025,December,30,14,46
4,2025-12-30 14:46:00,susmitadhar480,ğŸ‘‹\n,2025,December,30,14,46
5,2025-12-30 14:47:00,susmitadhar480,Hello\n,2025,December,30,14,47
9,2025-12-30 18:50:00,â™¾ï¸,Ha bon bolo\n,2025,December,30,18,50
...,...,...,...,...,...,...,...,...
293,2026-11-01 08:33:00,susmitadhar480,Gm dada ğŸŒ„\n,2026,November,1,8,33
294,2026-11-01 09:54:00,â™¾ï¸,Good morning bon ğŸŒğŸŒ»\n,2026,November,1,9,54
295,2026-11-01 23:41:00,susmitadhar480,Gn dada ğŸŒƒ\n,2026,November,1,23,41
297,2026-12-01 00:01:00,â™¾ï¸,Ha bon good night ğŸ’¤ğŸŒ‰\n,2026,December,1,0,1
298,2026-12-01 00:01:00,â™¾ï¸,Ghumau\n,2026,December,1,0,1

In [128]:
# f = open("stop_word_for_wp.txt","r",encoding = "utf-8")
# stop_words = f.read()
# print(stop_words)

In [129]:
# words = []
# for message in temp["messages"]:
#     for word in message.lower().split():
#         if word not in stop_words:
#             words.append(word)

In [130]:
from collections import Counter
pd.DataFrame(Counter(words).most_common(10))

         0   1
0      bon  93
1     good  31
2  morning  20
3        ?  13
4      toh  13
5     bolo  12
6      ooo  11
7       go  11
8    night  10
9        ğŸŒ„   9

In [131]:
pip install emoji

Requirement already satisfied: emoji in c:\users\pc\anaconda3\lib\site-packages (2.15.0)
Note: you may need to restart the kernel to use updated packages.

In [132]:
import emoji

In [133]:
emojis = []
for messages in df["messages"]:
    emojis.extend([c for c in messages if c in emoji.EMOJI_DATA])
print(emojis)

['ğŸ‘‹', 'ğŸ˜ƒ', 'ğŸŒ', 'ğŸ¤§', 'ğŸ˜Œ', 'ğŸ‘€', 'ğŸ™‚', 'ğŸ¤§', 'ğŸ˜…', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸ™‚', 'ğŸ¤§', 'ğŸ˜Š', 'ğŸŠ', 'ğŸ•›', 'ğŸ’™', 'ğŸ™‚', 'ğŸ¥¹', 'ğŸ’™', 'â™¥', 'ğŸŒ¸', 'ğŸ’¤', 'ğŸ¤—', 'ğŸŒƒ', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸ™‚', 'ğŸ¥¹', 'ğŸŒ„', 'ğŸ˜Š', 'ğŸ˜Š', 'ğŸ™ƒ', 'ğŸ˜Š', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸŒƒ', 'ğŸ’¤', 'ğŸ˜´', 'ğŸŒ', 'ğŸŒ„', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸŒƒ', 'ğŸ˜´', 'ğŸ’¤', 'ğŸŒ', 'ğŸŒ¿', 'ğŸŒ', 'ğŸŒ»', 'ğŸ¥¹', 'ğŸ¥±', 'ğŸ˜´', 'ğŸ’¤', 'ğŸ˜´', 'ğŸŒ', 'ğŸŒ¿', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸŒ„', 'ğŸ¥±', 'ğŸ˜´', 'ğŸ’¤', 'ğŸ˜´', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸŒ„', 'ğŸŒ', 'ğŸŒ»', 'ğŸŒƒ', 'ğŸ’¤', 'ğŸŒ‰']

In [139]:
pd.DataFrame(Counter(emojis).most_common(len(Counter(emojis))))

    0   1
0   ğŸŒ  12
1   ğŸŒ„  11
2   ğŸŒ»   9
3   ğŸ’¤   6
4   ğŸ˜´   6
5   ğŸ™‚   4
6   ğŸ˜Š   4
7   ğŸŒƒ   4
8   ğŸ¤§   3
9   ğŸ¥¹   3
10  ğŸ’™   2
11  ğŸŒ¿   2
12  ğŸ¥±   2
13  ğŸ‘‹   1
14  ğŸ˜ƒ   1
15  ğŸŒ   1
16  ğŸ˜Œ   1
17  ğŸ‘€   1
18  ğŸ˜…   1
19  ğŸŠ   1
20  ğŸ•›   1
21  â™¥   1
22  ğŸŒ¸   1
23  ğŸ¤—   1
24  ğŸ™ƒ   1
25  ğŸŒ‰   1